@keyframes clickAnimation {
  0% {
    width: 0px;
    height: 0px;
    opacity: 1;
  }

  100% {
    width: 400px;
    height: 400px;
    opacity: 0;
  }
}

/* Add animation */
@keyframes clickRipple {
  from {
    opacity: 1;
    transform: scale(0);
  }

  to {
    opacity: 0;
    transform: scale(10);
  }
}
